<div class="navbar2">

<div class="background">
<ul>
<li><a href="#">Rețele de socializare</a></li>


    <a nz-dropdown [nzDropdownMenu]="menu">
      Știri
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>Primul meniu</li>
          <li nz-menu-item>Al doilea meniu</li>
          <li nz-menu-item>Al treilea meniu</li>
        </ul>
      </nz-dropdown-menu>

      <li><a href="#">Afaceri</a></li>

      <a nz-dropdown [nzDropdownMenu]="menu">
        Stil de viață
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>Primul meniu</li>
          <li nz-menu-item>Al doilea meniu</li>
          <li nz-menu-item>Al treilea meniu</li>
        </ul>
      </nz-dropdown-menu>

      <li><a href="#">Sporturi </a></li>

      <li><a href="#">Tehnologie</a></li>

      <li><a href="#">WordPress</a></li>


    </ul>

</div>



</div>