.card2 {
  

    
    
    margin-left: 1015px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
     width:27%;
 
   
  
   .card:hover {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   }
   
   .container {
     padding: 2px 16px;
     
   }
 
 h4{
     font-size:23px;
 }
 
 img{display: inline-flex;   
 width:27px;
 margin-left: 10px;
     
 }
 
 .button{
     
     float: right;
     margin-right: 20px;
   
 }
 button:hover{
     color:#F29172;
 }
 
 
 
 }
 
 