<div class="nav">

<a href="http://localhost:4200/"><h2 style="color: white;font-size: 25px;font-weight: 900;">Read<strong style="color:#FFD369" >it.</strong> </h2></a>


<p ><a style="color: white;font-size: 18px;font-weight: 400;" href="http://localhost:4200/">Acasă</a></p>

<p><a style="color: white;font-size: 18px;font-weight: 400;" href="#">Articole</a></p>

<p><a style="color: white;font-size: 18px;font-weight: 400;" href="#">Echipa</a></p>

<p><a  style="color: white;font-size: 18px;font-weight: 400;" href="#">Contact</a></p>


<h2 style="color: white;">Salut!Bine ai venit la</h2>


<h1>Readit blog</h1>


<h3>Departe, departe de cuvântul munți, departe de țările Vokalia<br> și Consonantia, trăiesc textele oarbe. Separați locuiesc în <br>Bookmarksgrove chiar pe coasta semanticii, un ocean cu limbi mari.</h3>
<br><br><br>



</div>