.card1{
margin-left: 200px;


    img{
        width:30px;
        margin-left: 10px;
    }

h4{
    font-size: 25px;
}


.card2{
    margin-left: 10px;
    width:50%;
p{
    color:black;


}

p:hover{
    color: #EE724B;
 }

}



.card-3{

    margin-left: 450px;
    margin-right: 300px;
    width:50%;
    
   
}


}


