.bg{
    background-color: #222831;

.logo{
position: relative;
left:400px;
top:15px;

}

.h1{
  
    position: relative;
    left:700px;
    bottom: 25px;
   
}

.h2{
    position: relative;
    left:1050px;
    bottom: 65px;

}


.h3{
    position: relative;
    left:1350px;
    bottom: 105px;

}

.p1{
    color:white;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    left:400px;
    bottom:70px;
  
}

.img1{

img{
    width:100px;
    height:90px;
    border-radius: 15%;
    position: relative;
    left:700px;
    bottom:200px;
}

p,a{
    color:white;
    position: relative;
    left:410px;
    bottom:145px;

    a:hover{
        color:red;
    }
}

}

.list,a{
    color:white;
    position: relative;
    left:525px;
    bottom:195px;
   
    a:hover{
        color:red;
    }
}




.contact{
    position: relative;
    left:820px;
    bottom:290px;
   
    a:hover{
        color:red;
    }
}


.icons{
    position: relative;
    left:340px;
    bottom: 30px;
}


.img2{

    img{
        width:100px;
        height:90px;
        border-radius: 15%;
        position: relative;
        left:700px;
        bottom:510px;
    }
    
    p,a{
        color:white;
        position: relative;
        left:410px;
        bottom:300px;
    
        a:hover{
            color:red;
        }
    }
    
    }

.copy{
    color:white;
    position: relative;
    left:700px;
    bottom:500px;
    font-size: 20px;
}





}